<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.ClientMapper" >
  <resultMap id="BaseResultMap" type="com.taotao.pojo.Client" >
    <id column="cno" property="cno" jdbcType="CHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="csex" property="csex" jdbcType="CHAR" />
    <result column="cage" property="cage" jdbcType="CHAR" />
    <result column="caddress" property="caddress" jdbcType="VARCHAR" />
    <result column="cphone" property="cphone" jdbcType="VARCHAR" />
    <result column="csymptom" property="csymptom" jdbcType="VARCHAR" />
    <result column="mno" property="mno" jdbcType="CHAR" />
    <result column="ano" property="ano" jdbcType="CHAR" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
    <result column="cremark" property="cremark" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cno, cname, csex, cage, caddress, cphone, csymptom, mno, ano, cdate, cremark, cid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taotao.pojo.ClientExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from client
    where cno = #{cno,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from client
    where cno = #{cno,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.taotao.pojo.ClientExample" >
    delete from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taotao.pojo.Client" >
    insert into client (cno, cname, csex, cage, 
      caddress, cphone, csymptom, 
      mno, ano, cdate, cremark, 
      cid)
    values (#{cno,jdbcType=CHAR}, #{cname,jdbcType=VARCHAR}, #{csex,jdbcType=CHAR}, #{cage,jdbcType=CHAR}, 
      #{caddress,jdbcType=VARCHAR}, #{cphone,jdbcType=VARCHAR}, #{csymptom,jdbcType=VARCHAR}, 
      #{mno,jdbcType=CHAR}, #{ano,jdbcType=CHAR}, #{cdate,jdbcType=TIMESTAMP}, #{cremark,jdbcType=VARCHAR}, 
      #{cid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.taotao.pojo.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cno != null" >
        cno,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="csex != null" >
        csex,
      </if>
      <if test="cage != null" >
        cage,
      </if>
      <if test="caddress != null" >
        caddress,
      </if>
      <if test="cphone != null" >
        cphone,
      </if>
      <if test="csymptom != null" >
        csymptom,
      </if>
      <if test="mno != null" >
        mno,
      </if>
      <if test="ano != null" >
        ano,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
      <if test="cremark != null" >
        cremark,
      </if>
      <if test="cid != null" >
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cno != null" >
        #{cno,jdbcType=CHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="csex != null" >
        #{csex,jdbcType=CHAR},
      </if>
      <if test="cage != null" >
        #{cage,jdbcType=CHAR},
      </if>
      <if test="caddress != null" >
        #{caddress,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="csymptom != null" >
        #{csymptom,jdbcType=VARCHAR},
      </if>
      <if test="mno != null" >
        #{mno,jdbcType=CHAR},
      </if>
      <if test="ano != null" >
        #{ano,jdbcType=CHAR},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cremark != null" >
        #{cremark,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taotao.pojo.ClientExample" resultType="java.lang.Integer" >
    select count(*) from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update client
    <set >
      <if test="record.cno != null" >
        cno = #{record.cno,jdbcType=CHAR},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.csex != null" >
        csex = #{record.csex,jdbcType=CHAR},
      </if>
      <if test="record.cage != null" >
        cage = #{record.cage,jdbcType=CHAR},
      </if>
      <if test="record.caddress != null" >
        caddress = #{record.caddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cphone != null" >
        cphone = #{record.cphone,jdbcType=VARCHAR},
      </if>
      <if test="record.csymptom != null" >
        csymptom = #{record.csymptom,jdbcType=VARCHAR},
      </if>
      <if test="record.mno != null" >
        mno = #{record.mno,jdbcType=CHAR},
      </if>
      <if test="record.ano != null" >
        ano = #{record.ano,jdbcType=CHAR},
      </if>
      <if test="record.cdate != null" >
        cdate = #{record.cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cremark != null" >
        cremark = #{record.cremark,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update client
    set cno = #{record.cno,jdbcType=CHAR},
      cname = #{record.cname,jdbcType=VARCHAR},
      csex = #{record.csex,jdbcType=CHAR},
      cage = #{record.cage,jdbcType=CHAR},
      caddress = #{record.caddress,jdbcType=VARCHAR},
      cphone = #{record.cphone,jdbcType=VARCHAR},
      csymptom = #{record.csymptom,jdbcType=VARCHAR},
      mno = #{record.mno,jdbcType=CHAR},
      ano = #{record.ano,jdbcType=CHAR},
      cdate = #{record.cdate,jdbcType=TIMESTAMP},
      cremark = #{record.cremark,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taotao.pojo.Client" >
    update client
    <set >
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="csex != null" >
        csex = #{csex,jdbcType=CHAR},
      </if>
      <if test="cage != null" >
        cage = #{cage,jdbcType=CHAR},
      </if>
      <if test="caddress != null" >
        caddress = #{caddress,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="csymptom != null" >
        csymptom = #{csymptom,jdbcType=VARCHAR},
      </if>
      <if test="mno != null" >
        mno = #{mno,jdbcType=CHAR},
      </if>
      <if test="ano != null" >
        ano = #{ano,jdbcType=CHAR},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="cremark != null" >
        cremark = #{cremark,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where cno = #{cno,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taotao.pojo.Client" >
    update client
    set cname = #{cname,jdbcType=VARCHAR},
      csex = #{csex,jdbcType=CHAR},
      cage = #{cage,jdbcType=CHAR},
      caddress = #{caddress,jdbcType=VARCHAR},
      cphone = #{cphone,jdbcType=VARCHAR},
      csymptom = #{csymptom,jdbcType=VARCHAR},
      mno = #{mno,jdbcType=CHAR},
      ano = #{ano,jdbcType=CHAR},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      cremark = #{cremark,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER}
    where cno = #{cno,jdbcType=CHAR}
  </update>
</mapper>